<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas Personales</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/layouts/main.css">
</head>

<body>
    <div class="d-flex">
        <%- include('../partials/sidebar') %>
            <div class="content flex-grow-1">
                <%- include('../partials/header') %>
                    <div class="container-fluid p-4">
                        <%- content %>
                    </div>
                    <%- include('../partials/footer') %>
            </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/charts/chart.umd.js"></script>
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('collapsed');
        });
    </script>
    <%- typeof scripts !=='undefined' ? scripts : '' %>
</body>

</html>